@import "tailwindcss";

/* LIGHT THEME */
:root {
  --background: 248 250 252;
  --foreground: 15 23 42;

  --card: 255 255 255;
  --card-foreground: 15 23 42;

  --border: 226 232 240;

  --muted: 100 116 139;
}

/* DARK THEME */
.dark {
  --background: 2 6 23;
  --foreground: 248 250 252;

  --card: 15 23 42;
  --card-foreground: 248 250 252;

  --border: 30 41 59;

  --muted: 148 163 184;
}

/* GLOBAL BODY */

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  transition: background-color 0.3s, color 0.3s;
  font-family: system-ui, -apple-system, sans-serif;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(15 23 42);
}

::-webkit-scrollbar-thumb {
  background: rgb(71 85 105);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(100 116 139);
}